.ant-dropdown-menu{
  text-align: right;
}

.ant-menu{
  text-align: right;
  user-select: none;
}

.ant-menu-vertical .ant-menu-item:not(:last-child){
  margin-bottom: 0;
}

.ant-select-item-option-content{
  text-align: right;
}

.ant-tabs-nav .ant-tabs-tab{
  margin: 0 10px 0 0;
  padding: 5px 5px;
}

li.ant-menu-item{
  text-align: right;
}

.ant-menu-item-group-title{
  text-align: right;
}

.ant-list-item{
  direction: rtl;
}

.ant-modal-close{
  right:unset !important;
  left: 0;
}

.ant-modal-footer{
  text-align: left !important;
}

.ant-modal-footer button + button{
  margin-right: 8px;
  margin-left:0;
}

.right-step{
  direction: rtl;
  & .ant-steps-item-icon{
    float: right !important;
  }

  &  .ant-steps-item-tail {
    right: 20px !important;
  }

  & .ant-steps-item-process .ant-steps-icon-dot{
    right: 0 !important;
  }
}


.ant-notification-notice-with-icon .ant-notification-notice-message{
  margin-right: 6px;
}

.ant-notification-notice-close{
  left: 22px;
  right: unset;
}

.ant-image-preview-img{
  display: inline !important;
}

.ant-image-preview-operations{
  flex-direction: row !important;
}