/* font estedad */
@font-face {
    font-family: 'estedad';
    src: url("../fonts/estedad/estedad-regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kalame';
    src: url("../fonts/kalame/Kalameh(FaNum)-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yekan';
    src: url("../fonts/yekan/iranyekanwebregularfanum.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}



